<section {...Astro.props} class:list={["py-20", Astro.props.class]}>
  <div
    class="scroll-reveal text-center max-sm:px-4 max-xl:px-10 max-w-7xl w-full flex flex-col items-center mx-auto"
  >
    <slot />
  </div>
</section>
